.btn-outline-orange {
  color: #ff7f07;
  border-color: #ff7f07;
}

.btn-outline-orange:hover {
  color: #212529;
  background-color: #ff7f07;
  border-color: #ff7f07;
}

.btn-outline-orange:focus,
.btn-outline-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 7, 0.5);
}

.btn-outline-orange.disabled,
.btn-outline-orange:disabled {
  color: #ff7f07;
  background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active,
.btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #212529;
  background-color: #ff7f07;
  border-color: #ff7f07;
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus,
.btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 7, 0.5);
}

.btn-orange {
  color: #212529;
  background-color: #ff7f07;
  border-color: #ca6200;
}

.btn-orange:hover {
  color: #212529;
  background-color: #ca6200;
  border-color: #d86c07;
}

.btn-orange:focus,
.btn-orange.focus {
  color: #212529;
  background-color: #ca6200;
  border-color: #d86c07;
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 7, 0.5);
}

.btn-orange.disabled,
.btn-orange:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-orange:not(:disabled):not(.disabled):active,
.btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
  color: #212529;
  background-color: #d86c07;
  border-color: #c69500;
}

.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 168, 7, 0.5);
}

.searchbar:focus,
.searchbar.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  border-color: rgba(108, 117, 125, 0.5);
}

.custom-select:focus,
.custom-select.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.link-color {
  color: #ff7f07;
}

.link-color:hover {
  color: #ca6200;
}

.list-style:nth-child(odd) {
  background-color: #6c757d;
}

.list-style:nth-child(even) {
  background-color: #343a40;
}

h1,
h2,
h3 {
  color: #fff;
}

h4,
h5,
p,
li,
label,
.close-x {
  color: #e9e9e9;
}

.release-date {
  font-weight: 300;
}

.result-profile,
.result-no-img {
  width: 92px;
  height: auto;
}

.login-form {
  padding: 1.5rem;
  background-color: #212529;
}

.navbar {
  margin-bottom: 1rem;
}

.login-button {
  margin-left: 1rem;
}

.profile-pic {
  width: 342px;
  height: auto;
}

.review-textarea {
  resize: none;
}

.review-modal {
  background-color: #212529;
}

.modal-header,
.modal-footer {
  border-color: #4e4e4e;
}

.nav-link:hover {
  cursor: pointer;
}

.popular {
  margin-bottom: 1rem;
}
